body {
    .margin-container();
  
}
.main-image{
    .flex-container();
    img {
       width:95%;
       padding: 3%;
    }
}
.title-container {
    
    h1{
    .the-head();
     @media @tablet {
        position: absolute;
        top: 30%;
        left: 50%;
        transform: translate(-50%, -50%);
        font-size: 2.6rem;
        text-align: center;
        color:@snow;
    }
        @media @desktop {
            .the-head();
        }
}
    button {
        .b-tton();
        @media @tablet {
            position: absolute;
            top: 45%;
            left: 50%;
            transform: translate(-50%, -50%);
            font-size: 0.9rem;
            text-align: center;
            color:@raven;
            width:20%;
        }
        @media @desktop {
            .b-tton();
        }
    }
  
   
}
.artists-container {
    .flex-box();
    margin-left: 10%;
    @media @tablet {
        display:flex;
        flex-flow: column;
        justify-content: center;
        align-items: center;
    }
    @media @desktop {
        .flex-box();
    }
    .artist, .bio, img, a {
      .pretty-artist();
    }
    .artist a {
        text-decoration: none;
        font-size: 1.6rem;
        margin-top: 5%;
        @media @tablet {
            text-align: center;
        }
        @media @desktop {
            text-decoration: none;
            font-size: 1.6rem;
            margin-top: 5%;
        }
    }
    .artist img {
        border-radius: 5%;
    }
    .artist, .bio {
        font-size: 1.0rem;
        margin-top: 5%;
        text-align: center;
        @media @tablet {
            text-align: justify;
            
        }
        @media @desktop {
            font-size: 1.0rem;
            margin-top: 5%;
            text-align: center;
        }
    }
}